/* Mobile styles */
body {
    font-size: 14px;
  }
  
  /* Tablet and desktop styles */
  @media (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  /* Larger desktop styles */
  @media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
  }
  